name: linux build

on:
  push:
    branches:
      - master

jobs:
  qt6:
    name: Qt6 build
    runs-on: ubuntu-latest
    steps:
      - name: Generate release tag
        id: tag
        run: echo "release_date=1.0.$(date +'%m%d%Y')" >> $GITHUB_OUTPUT
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.*'
      - name: Install dependencies
        run: sudo apt-get install alien build-essential fakeroot devscripts libgl1-mesa-dev
      - name: Configure build
        run: qmake big-file-editor.pro
      - name: Build project
        run: make -j3
      - name: Create deb and rpm
        run: |
          NAME=big-file-editor-${{ steps.tag.outputs.release_date }}
          strip big-file-editor
          tar -jcvf big-file-editor.linux.bz2 big-file-editor
          mkdir -p $NAME/DEBIAN
          cat <<EOT > $NAME/DEBIAN/control
          Package: big-file-editor
          Section: editors
          Depends: libc6, libqt6widgets6, libqt6network6, libqt6gui6, libqt6core6, libstdc++6
          Maintainer: Ozkan Pakdil
          Version: ${{ steps.tag.outputs.release_date }}
          License: GPL-3.0
          Architecture: amd64
          Homepage: https://github.com/ozkanpakdil/big-file-editor
          Description: Editing large files
           This program is for opening big files and search/edit inside.
          EOT
          mkdir -p $NAME/usr/share/applications/
          cat <<EOT > $NAME/usr/share/applications/big-file-editor.desktop
          [Desktop Entry]
          Encoding=UTF-8
          Exec=/usr/local/bin/big-file-editor
          Icon=/usr/local/share/big-file-editor/Notepad-icon.png
          Type=Application
          Terminal=false
          Comment=For editing large files
          Name=Big file editor
          GenericName=Big file editor
          StartupNotify=false
          Categories=Editor;
          EOT
          mkdir -p $NAME/usr/local/bin
          mkdir -p $NAME/usr/local/share/big-file-editor
          cp big-file-editor $NAME/usr/local/bin
          cp Notepad-icon.png $NAME/usr/local/share/big-file-editor
          sudo dpkg-deb --build $NAME
          rm -rf $NAME
          sudo alien --nopatch -rk $NAME.deb
      - name: Release with Notes
        uses: softprops/action-gh-release@v1
        with:
          files: |
            *.deb
            *.rpm
          tag_name: ${{ steps.tag.outputs.release_date }}
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
