name: MacOS CI

on:
  push:
    branches:
      - master

jobs:
  qt5:
    name: Qt5 build
    runs-on: macos-latest
    steps:
      - name: Set environment variables
        run: echo "PATH=/usr/local/opt/qt@5/bin:$PATH" >> $GITHUB_ENV
      - name: Generate release tag
        id: tag
        run: echo "::set-output name=release_date::1.0.$(date +'%m%d%Y')"
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: brew install qt@5
      - name: Configure build
        run: qmake big-file-editor.pro
      - name: Build project
        run: make -j3
      - name: Create DMG
        run: macdeployqt big-file-editor.app -dmg
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: big-file-editor.dmg
          path: big-file-editor.dmg
      - name: Release with Notes
        uses: softprops/action-gh-release@v1
        with:
          files: big-file-editor.dmg
          tag_name: ${{ steps.tag.outputs.release_date }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
